# deps
node_modules/

# Next.js
.next/
out/

# Sanity
.sanity/

# env/segredos
.env
.env.*
*.pem
*.key
*.crt
*.pfx
*.pem.txt
*.key.txt

# logs/cache
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# misc
ngrok/
