# ⚙️ Node
node_modules/
.env
.env.local
dist/
.next/
out/

# 🔧 Logs e depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# 🧪 IDEs e SOs
.DS_Store
Thumbs.db
.vscode/
.idea/

# 🧪 Sanity
/app/studio/.sanity/
.studio/
.sanity.tmp/

# 📦 Compilados e caches
*.tsbuildinfo
.cache/
.eslintcache

# 📁 Gerado automaticamente (ex: Studio static vazio)
app/studio/static/
app/studio/schemaTypes/
app/schemaTypes/

# 📷 Uploads locais ou assets manuais (opcional)
public/uploads/
uploads/

# 🔒 Dados sensíveis
firebase.json
serviceAccountKey.json